body{
    /* background-color: #CCCCCC;
    color: black; */
    background-image: url(../images/dot.png);
    background-repeat:no-repeat;
    background-position: right;
}

h2{
    background-color: #4587BD;

    border-style: solid;
    border-color: #E2B483;
    border-width: 10px;

    color: #FFF;
}